h1::selection{
    color: white;
    background-color: rgb(255, 0, 0);
}
p::first-line{
    color: rgb(255, 0, 0);
    font-size: 20px;
}
p::first-letter{
    color: rgb(255, 0, 0);
    font-size: 30px;
}
h2::first-letter{
    color: rgb(11, 233, 140);
    font-size: 40px;
}
li::marker{
    content: "👉 ";
}
h2::before{
    content: "😅";
    color: rgb(255, 0, 0);
}
h1::after{
    content: "😎";
}
h1::before{
    content: "👽";
    font-size: 50px;
}
input::placeholder{
    color: rgb(255, 0, 0);
    background-color: beige;
}