div{
    height: 50vh;
    width: 50vw;
    background-color: seagreen;
    border: 2px solid black;
    text-align: center;
}

@media(max-width:600px){
    div{
        background-color: tomato;
    }
}

@media(max-width:900px){
    div{
        background-color: skyblue;
    }

}