nav{
    border: 2px solid grey;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 14px;
}

a{
    text-decoration: none;
    padding: 7px;
    color: white;
}

#ham{
    color: white;
    display: none;
}

@media(max-width:600px){
    #main{
        display: none;
    }
    #ham{
        display: block;
    }
}