nav{
    display: flex;
    border: 2px solid black;
}
#logo{
    border: 2px solid black;
    flex-shrink: 0;
    padding: 14px;
    width: 100px;
}
#menu{
    border: 2px solid black;
    flex-grow: 1;
    padding: 14px;
}